/* Apply Style To Entire Site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply Style To <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
}

/* Apply Style To <header> <h1> */
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}

/* Apply Style To <header> <a> */
header a {
  color: #fce138;
}

/* Apply Style To <header> <nav> */
header nav {
  float: right;
  margin: 7px 0;
}

/* Apply Style to <header> <nav> <ul> <li> */
header nav ul li{
  display: inline;
}

/* Apply Style To <header> <nav> <ul> <li> <a> */
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

/*Apply Style to <footer> */
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}

/*Apply Style to <footer> <div> */
footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

/* Apply Style To <body> */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
  }

/* Apply Style To <section> */
section {
  padding: 60px;
}

/* Apply Style to <hero> */
.hero {
  background-image: url(../images/hero-bg.jpg);
  margin: 20px;
  font-size: 20px;
  background-color: white;
  color: blue;
}

/* Apply Style to <hero> On Secondary Pages */
.hero-secondary {
  background-color: black;
  color: red;
}

/* Apply Style To Class hero-form */
.hero-form {
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  width: 500px;
  color: #024e76;
  position: absolute;
  bottom: 120px;
  right: 140px;
}

/* Apply Style To Class hero-form <h3> */
.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

/* Apply Style To Class hero-form <p> */
.hero-form p {
  margin: 5px 0 15px 0;
}

/* Apply Style To Class form-input */
.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

/* Apply Style To Class hero-form <label> */
.hero-form label {
  margin: 0 5px;
}

/* Apply Style To Class hero-form <button> */
.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

/* Apply Style To Class intro */
.intro {
  text-align: center;
}

/* Apply Style To Class intro <p> */
.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/* Apply Style To Class steps */
.steps {
  text-align: center;
  background: #fce138;
}

/* Apply Style To Class steps <div> */
.steps div {
  margin-bottom: 80px;
}

/* Apply Style To Class steps <img> */
.steps img {
  width: 15%;
  margin: 10px 0;
}

/* Apply Style To Class steps <h3> */
.steps h3 {
  color: #024e76;
  font-size: 46px;
  margin-top: 10px;
}

/* Apply Style To Class steps <p> */
.steps p {
  color: #39a6b2;
  font-size: 23px;
}

/* Apply Style To Class steps <span> */
.steps span {
  font-size: 38px;
}

/* Apply Style To Class section-title */
.section-title {
  font-size: 55px;
  display: inline-block;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  margin-bottom: 35px;
  color: #024e76;
}

/* Sets Style For Class primary-border */
.primary-border {
  border-color: #fce138;
}

/* Sets Style For Class secondary-border */
.secondary-border {
  border-color: #39a6b2;
}

/* Sets Style For Class trainers */
.trainers {
  text-align: center;
}

/* Sets Style For Class trainer */
.trainer {
  width: 900px;
  margin: 0 auto 30px auto;
  background: #024e76;
  color: #fce138;
  overflow: auto;
}

/* Sets Style For Class trainer <img> */
.trainer img {
  width: 35%;
  float: left;
}

/* Sets Style For Class trainer-bio */
.trainer-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

/* Sets Style For Class trainer-bio <h3> */
.trainer-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

/* Sets Style For Class trainer-bio <h4> */
.trainer-bio h4 {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 25px;
}

/* Sets Style For Class trainer-bio <p> */
.trainer-bio p {
  font-size: 17px;
  line-height: 1.3;
}

/* Sets Style For Class text-left */
.text-left {
  text-align: left;
}

/* Sets Style For Class text-right */
.text-right {
  text-align: right;
}

/* Sets Style For Class contact */
.contact {
  text-align: center;
  background: #024e76;
}

/* Sets Style For Class contact <h2> */
.contact h2 {
  color: #fce138;
}

/* Sets Style For Class contact-info <iframe> */
.contact-info iframe {
  width: 400px;
  height: 400px;
}

/* Sets Style For Class contact-info <div> */
.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}

/* Sets Style For Class contact-info <h3> */
.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

/* Sets Style For Class contact-info <p> and <address>*/
.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

/* Sets Style For Class contact-info <a> */
.contact-info a {
  color: #fce138;
}