/* Sets Primary, Secendary and Tertiary Color Variable */
:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

/* Apply Style To Entire Site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Apply Style To <header> */
header {
  padding: 20px 35px;
  background-color: #var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky; /*Adds Sticky Support For Safari */
  top: 0;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

/* Apply Style To <header> <h1> */
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px black;
}

/* Apply Style To <header> <a> */
header a {
  color: var(--primary-color);
}

/* Apply Style To <header> <nav> */
header nav {
  margin: 7px 0;
  
}

/* Apply Style to <header> <nav> <ul> */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* Apply Style To <header> <nav> <ul> <li> <a> */
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px black;
}

/* Applys Styles When The User Hovers Over */
header nav ul li a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/*Apply Style to <footer> */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
}

/*Apply Style to <footer> <div> */
footer div {
  
  line-height: 1.5;
  text-align: right;
}

/* Apply Style To <body> */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
  }

/* Apply Style To <section> */
section {
  padding: 60px;
}

/* Apply Style to <hero> */
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Apply Style to <hero> On Secondary Pages */
.hero-secondary {
  background-color: black;
  color: red;
}
/*Apply Style To Class hero-cta */
.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

/*Apply Style To Class hero-cta <h2> */
.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px black;
}

/* Apply Style To Class hero-form */
.hero-form {
  border: 3px solid var(--secondary-color);
  background-color: rgb(252, 225, 56, 0.8);
  padding: 20px;
  color: var(--secondary-color);
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

/* Apply Style To Class hero-form <h3> */
.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

/* Apply Style To Class hero-form <p> */
.hero-form p {
  margin: 5px 0 15px 0;
}

/* Apply Style To Class form-input */
.form-input {
  background-color: rgba(255,255,255, 0.75);
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* Applys Style When User Click On It */
.form-input:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

/* Apply Style To Class hero-form <label> */
.hero-form label {
  margin: 0 5px;
}

/* Apply Style To Class hero-form <button> */
.hero-form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

/*Applys Styles When The User Hovers Over */
.hero-form button:hover {
  background-color: #var(--tertiary-color);  
}

.checkbox-wrapper label, .radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}

.checkbox-wrapper input, .radio-wrapper input {
  opacity: 0;
}

/* Creates Square Buttons */
.checkbox-wrapper label::before, .radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);  
  border: 1px solid var(--secondary-color);  
  position: absolute;
  top: -4px;
  left: -30px;
}

/* Creates Round Button */
.radio-wrapper label::before {
  border-radius: 50%;
}

/* */
.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: radial-gradient(circle, #var(--tertiary-color), var(--secondary-color));
  position: absolute;
  left: -29px;
  top: -3px;
}

.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, .radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after {
  content: "";
}

/* Apply Style To Class flex-row */
.flex-row {
  display: flex;
}

/* Apply Style To Class into <p> */
.intro p {
  text-align: center;
}

/* Apply Style To Class steps */
.step {
  background: var(--primary-color);
  margin: 50px auto;
  border-bottom: 1px solid #var(--tertiary-color);
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.step:last-child {
  border-bottom: none;
}

/* Apply Style To Class steps <h3> */
.step h3 {
  color: var(--secondary-color);
  font-size: 46px;
  margin-top: 10px;
  flex: 1 30%;
}

/* Apply Style To Class steps <p> */
.step p {
  color: #var(--tertiary-color);
  font-size: 23px;
}

/* Apply Style To Class step-info */
.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Apply Style To Class step-img */
.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

/* Apply Style To Class step-img <img> */
.step-img img {
  max-width: 100%;
}

/* Apply Style To Class step-text */
.step-text {
  flex: 12;
}

/*Apply Style To Class step-text <h4> */
.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
}

/* Apply Style To Class section-title */
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

/* Sets Style For Class primary-border */
.primary-border {
  border-color: var(--primary-color);
}

/* Sets Style For Class secondary-border */
.secondary-border {
  border-color: #var(--tertiary-color);
}

/* Sets Style For Class trainers */
.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Sets Style For Class trainer */
.trainer {
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  flex: 1;
}

/* Sets Style For Class trainer <img> */
.trainer img {
  width: 100%;
  float: left;
}

/* Sets Style For Class trainer-bio */
.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}

/* Sets Style For Class trainer-bio <h3> */
.trainer-bio h3 {
  font-size: 28px;
}

/* Sets Style For Class trainer-bio <h4> */
.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

/* Sets Style For Class trainer-bio <p> */
.trainer-bio p {
  font-size: 17px;
  
}

/* Sets Style For Class text-left */
.text-left {
  text-align: left;
}

/* Sets Style For Class text-right */
.text-right {
  text-align: right;
}

/* Sets Style For Class contact */
.contact {
  background: var(--secondary-color);
}

/* Sets Style For Class contact <h2> */
.contact h2 {
  color: var(--primary-color);
}

/* Sets Style For Class contact-info */
.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Sets Style For Unstyles Items In Class contact-info */
.contact-info > * {
  flex: 1;
  margin: 15px;
}

/* Sets Style For Class contact-info <iframe> */
.contact-info iframe {
  height: 400px;
}

/* Sets Style For Class contact-info <div> */
.contact-info div {
  color: white;
}

/* Sets Style For Class contact-info <h3> */
.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

/* Sets Style For Class contact-info <p> and <address>*/
.contact-info p, .contact-info address {
  color: white;
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

/* Sets Style For Class contact-info <a> */
.contact-info a {
  color: var(--primary-color);
}

/* Sets Style For Class contact-form <input> and <textarea> */
.contact-form input, .contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: rgb( 2, 78, 118, 0.8);
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* Apply Styles When A User Clicks On It */
.contact-form input:focus, .contact-form textarea:focus {
  background-color: white;
  outline: none;
}

/* Sets Style For Class contact-form <button> */
.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

/* Applys Styles When The User Hovers Over */
.contact-form button:hover {
  color: var(--primary-color);
  background: #var(--tertiary-color);
}

/* Sets Styles For Screens Under 980px */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* Sets Styles For Screens Under 768px */
@media screen and (max-width: 768px) {

  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }
}

/* Sets Styles For Screens Under 575px */
@media screen and (max-width: 575px) {

  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}